@inherits LayoutComponentBase

<PageTitle>Przychodnia Dashboard</PageTitle>


<div class="header" style=" position:relative; height:96vh">
    <main>
        <div class="title">
            <h1>PRZYCHODNIA LEKARSKA ZDROWIE</h1>
        </div>
        @Body
    </main>
   
</div>