@inherits LayoutComponentBase

<PageTitle>Przychodnia Dashboard</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="title">
            <h1>PRZYCHODNIA LEKARSKA ZDROWIE</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
      
    </main>
   
</div>
