
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="Images/icon.ico" class="logo-img" alt="icon" style="margin-top:4%;"></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">MENU</span>
        </button>
    </div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <img src="Images/medical-invoice.png" class="btn-img" alt="test" style="max-width:40px"> <p style="margin-left:4%; font-size:medium;color:white">Dashboard</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacjenci">
                <img src="Images/patient.png" class="btn-img" alt="test" style="max-width:40px"> <p style="margin-left:4%; font-size:medium; color:white">Pacjenci</p>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
