.page[b-rb45s3mnfw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar[b-rb45s3mnfw] {
    background-image: linear-gradient(179deg, rgba(89, 131, 252, 1) 14%, rgba(255, 255, 255, 1) 100%);
}

.top-row[b-rb45s3mnfw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-rb45s3mnfw]  a, .top-row .btn-link[b-rb45s3mnfw] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-rb45s3mnfw] {
        overflow: hidden;
        text-overflow: ellipsis;
    }





@font-face {
    font-family: 'AreaKilometer';
    src: url('font/AreaKilometer.otf');
    src: url('font/AreaKilometer1.ttf');
}

.header[b-rb45s3mnfw] {
    width: 100%;
    height: 120vh;
    background: #7cb7ff;
    background-color: rgba(108, 139, 240, 0.582);
    overflow: auto;
}

.container[b-rb45s3mnfw] {
    margin-left: 150px;
    color: white;
    overflow: auto;
    text-align: center;
}

.side-nav[b-rb45s3mnfw] {
    width: 100px;
    height: 100%;
    background-image: linear-gradient(179deg, rgba(89, 131, 252, 1) 14%, rgba(255, 255, 255, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo[b-rb45s3mnfw] {
    margin-left: 10px;
    display: block;
    margin-bottom: 140px;
}

.logo-img[b-rb45s3mnfw] {
    width: 90px;
}

.nav-links[b-rb45s3mnfw] {
    list-style: none;
    position: center;
    padding-inline-start: 0%;
}

    .nav-links li[b-rb45s3mnfw] {
        align-content: center;
    }

        .nav-links li a[b-rb45s3mnfw] {
            color: white;
            text-decoration: none;
        }

.nav-info[b-rb45s3mnfw] {
    color: #5452e6;
    margin-top: 640%;
    font-size: smaller;
}

.title[b-rb45s3mnfw] {
    color: white;
    text-align: center;
    font-size: x-large
    font-family: AreaKilometer,sans-serif;
    margin-left: 1%;
    
}

.button[b-rb45s3mnfw] {
    background-color: rgb(109, 109, 212);
    background: linear-gradient(135deg, #2C8FA8 0%, #2388CB 4%, #FF6C7CBD 100%);
    background: #5452e6;
    color: white;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}

button:hover[b-rb45s3mnfw] {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    background-position: right center;
}

footer[b-rb45s3mnfw] {
    color: rgba(255, 255, 255, 0.493);
    text-align: center;
    font-size: small;
    margin: 0px;
    align-items: center;
    background-color: rgba(131, 123, 248, 0.836);
}

.container_1[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    margin-top: 3%;
    margin-right: 4%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 2%;
}

.container_2[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: #87bbff;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-left: 2%;
}

    .container_2:hover[b-rb45s3mnfw] {
        box-shadow: 10px 10px 20px rgba(0,0,0,0.15);
        background-position: right center;
    }

.outside2-1[b-rb45s3mnfw] {
    margin-right: 20px;
    max-width: 15%;
}

.container_3[b-rb45s3mnfw] {
    margin-left: 4%;
    margin-left: 2%;
}

.textinside[b-rb45s3mnfw] {
    margin: 0;
}

.container_4[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    margin-left: 2%;
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 3%;
    align-items: center;
    margin-top: 50px;
}

.container_4_1[b-rb45s3mnfw] {
    margin-left: 5px;
}

.doctor_picture[b-rb45s3mnfw] {
    max-width: 20%;
}

.doctor_container[b-rb45s3mnfw] {
    text-align: center;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.arrow[b-rb45s3mnfw] {
    width: 70px;
    height: 70px;
}

.arrow_button[b-rb45s3mnfw] {
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.doctor_info[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 2%;
    align-items: center;
    margin-top: 30px;
    height: auto;
    width: 95%;
    display: flex;
    border-radius: 5%;
    margin-left: 2%;
}

.box1[b-rb45s3mnfw] {
    background-color: rgba(131, 123, 248, 0.338);
    display: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border-radius: 5%;
    margin: 1%;
}

.box2[b-rb45s3mnfw] {
    background-color: rgba(101, 92, 228, 0.338);
    display: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border-radius: 5%;
    margin: 1%;
}

.box3[b-rb45s3mnfw] {
    background-color: rgba(84, 76, 196, 0.338);
    display: none;
    width: 100%;
    height: 100%;
    font-size: x-large;
    border-radius: 5%;
    margin: 1%;
}

.box4[b-rb45s3mnfw] {
    background-color: rgba(78, 66, 241, 0.338);
    width: 100%;
    height: 100%;
    display: none;
    font-size: x-large;
    border-radius: 5%;
    margin: 1%;
}

.slide[b-rb45s3mnfw] {
    border: 1px solid rgb(233, 227, 227);
}

.about_1[b-rb45s3mnfw] {
    font-size: large;
    font-family: Arial, sans-serif;
    background-color: rgba(97, 87, 243, 0.836);
    margin-right: 2%;
    margin-top: 30px;
    height: auto;
    width: 95%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_img[b-rb45s3mnfw] {
    width: 30%;
}



.about_2[b-rb45s3mnfw] {
    font-size: x-large;
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 2%;
    align-items: center;
    margin-top: 30px;
    height: auto;
    width: 95%;
    border-radius: 5%;
    margin-left: 2%;
}

.about_1_1[b-rb45s3mnfw] {
    width: 33%;
}

.question[b-rb45s3mnfw] {
    font-size: x-large;
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 2%;
    align-items: center;
    margin-top: 40px;
    height: auto;
    width: 95%;
    border-radius: 5%;
    margin-left: 2%;
}

.answer[b-rb45s3mnfw] {
    font-size: x-large;
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(71, 61, 214, 0.836);
    margin-right: 2%;
    align-items: center;
    margin-top: 15px;
    height: auto;
    width: 95%;
    border-radius: 5%;
    margin-left: 2%;
}

.dash_1[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 2%;
    align-items: center;
    margin-top: 50px;
    height: auto;
    width: 95%;
    display: flex;
    margin-left: 2%;
    flex-wrap: wrap;
    overflow: auto;
}

.button_on_dash[b-rb45s3mnfw] {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-img[b-rb45s3mnfw] {
    max-width: 80px;
    height: auto;
}

.dash_2[b-rb45s3mnfw] {
    margin: 5%;
    margin-left: 11%;
    color: white;
    font-weight: bold;
    font-size: large;
}

.header_dash[b-rb45s3mnfw] {
    width: 100%;
    height: 80vh;
    background: #7cb7ff;
    background-color: rgba(108, 139, 240, 0.582);
    overflow: auto;
}

.prices_view[b-rb45s3mnfw] {
    font-family: Arial, sans-serif;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgba(131, 123, 248, 0.836);
    margin-right: 2%;
    align-items: center;
    height: auto;
    width: 95%;
    display: grid;
    margin: 2%;
    flex-wrap: wrap;
    overflow: auto;
    color: white;
}

table[b-rb45s3mnfw], td[b-rb45s3mnfw], th[b-rb45s3mnfw] {
    border: 1px solid black;
    padding: 1%;
    color: white;
    font-size: large;
    background-color: rgba(73, 67, 160, 0.836);
}